bash_kernel
click >= 7.1.1
nbgitpuller==1.1.0
nbresuse
sos-bash
sos-notebook
sos-python
atomicwrites
gitpython
jupyter_contrib_core
ipympl
virtualenvwrapper
virtualenv
ansible-kernel
paramiko 
jupyterplot 
ipyleaflet 
ipywidgets 
ipycanvas 
ipycytoscape 
ipysheet
jupytext
wget
jupyternb-setup>=1.3.6
fabrictestbed-extensions==1.6.2
fabrictestbed-mflib>=1.0.6
slicecommander
python-openstackclient
openstacksdk
pyopenssl
cryptography
python-chi
