bash_kernel
click >= 7.1.1
nbgitpuller
nbresuse
sos-bash
sos-notebook
sos-python
atomicwrites
gitpython
fabric_fss_utils==1.4.0
jupyter_contrib_core
ipympl
virtualenvwrapper
virtualenv
ansible-kernel
paramiko 
jupyterplot 
ipyleaflet 
ipywidgets 
ipycanvas 
ipycytoscape 
ipysheet
jupytext
python-openstackclient
python-chi
wget
jupyternb-setup==1.3.3
fabrictestbed-extensions==1.4.1
